.turtle{
    text-align: center;
    color:red
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.climate{
  color:blue
}

.def{
  font-weight: bold;
}

.box {
  float: center;
  background: green;
  margin: 100px auto 0;
  width: 100px;
  height: 100px;
  color: red4;
  font-size: 24px;
  border: 1px solid #000000;
  text-align: center;
  position: relative;
}